.footer {
    background-color: $color-black-light;
    padding: 1.5rem 2.8rem;
    display: grid;
    justify-content: center;
    grid-template-columns: max-content 1fr;
    color: $color-white;
    font-size: 1.3rem;
    text-transform: capitalize;
    @include respond(phone) {
        grid-template-columns: max-content;
        grid-row-gap: 1rem;
        letter-spacing: 1.4px;
  }
    &__privacy {
        align-content: center;
        text-align: right;
        @include respond(phone) {
            text-align: center;
      }
    }

    &__copy {
        justify-self: right;
        @include respond(phone) {
            justify-self: center;
      }
    }
}