*,
*::after,
*::before {
  margin: 0;
  box-sizing: inherit;
  padding: 0;
}

html {
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 56.25% //1rem = 9px 9/16 = 56.25%
  }
  @include respond(tab-port) {
    font-size: 50% //1rem = 8px 8/16 = 50% 
  }
  @include respond(big-desktop) {
    font-size: 75% //1rem = 12 12/16 = 75%
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  /* font-size: 16px; */
}

::selection {
  background-color: rgba($color-black-light, 0.92);
  color: $color-white;
}
