.u-margin-bottom__large {
    margin-bottom: 5rem;
}

.u-margin-bottom__medium {
    margin-bottom: 4rem;
}

.u-margin-bottom__small {
    margin-bottom: 2rem;
}

.u-margin-top__large {
    margin-top: 5rem;
}

.u-margin-top__medium {
    margin-top: 4rem;
}

.u-margin-top__small {
    margin-top: 2rem;
}

.u-margin-right-small {
    margin-right: 2rem;
}